body {
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f3e88f, #f3e88f, #f3e88f);
}

.App {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.app-container {
  margin-top: 10px;
}
