body {
  /* background-image: linear-gradient(120deg, #663f3f, #ec4646, #bbf1fa); */
  /* color: white; */
  /* background-image: linear-gradient(120deg, #663f3f, #bbf1fa); */
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #b9b8b8, #bbf1fa);
}

.App {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.app-container {
  background: cornflowerblue;

  padding: 10px 20px;
}
